
/* Radial Skill Charts */

.rsm-progress-wrapper {
	 position: relative;
	 text-align: center;
	 margin:20px auto;
	 font-size: 40px;
}

.rsm-progress {
	 position: absolute;
	 color: #bbb;
	 font-weight: 100;
	 line-height: 1;
}

.rsm-skills p {
	color:#84868d;
	font-size:13px;
	line-height:18px;
	text-align:center;
}
.rsm-skills h4 {
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
}

/* Line Skill Charts */

#rsm-skills {
	margin-bottom: 40px;
}

.rsm-skill-item {
	margin-bottom: 15px;
}

.rsm-skill-title {
	font-family: 'Montserrat', serif;
	color: #bbb;
	font-size: 16px;
	margin-bottom: 5px;
}

.rsm-skill-bar-bg {
	width: 100%;
	height: 16px;
	background: #dfdfdf;
	border-radius: 3px;
}

.rsm-skill-bar {
  background: #5da4d9;
	height: inherit;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
