* {
  font-family: 'LatoWeb', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'LatoWeb', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
a {
  color: #ffffff;
}

/* style for wow animations */

.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

/* style for Typography */

h2 {
  font-family: 'LatoWebHeavy', sans-serif;
  font-weight: 500;
}
h3 {
  font-family: 'LatoWeb', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 23pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 14pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}
.clear {
  clear: both;
}

/* body */

body {
  background-color: #eae8e7;
  color: #767270;
  text-align: center;
}
body .container {
  margin-top: 24px;
}

/* Sidebar */

.sidebar {
  text-align: left;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .profile-img {
  position: relative;
  margin-bottom: 65px;
}
.sidebar .heading .profile-img img {
  width: 100%;
}
.sidebar .heading .title {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: -65px;
  //background-color: #ffffff;
  background-color: #5da4d9;
}
.sidebar .heading .title span {
  margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.sidebar .icon {
  margin-top: 8px;
}
.sidebar .icon .fa {
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 30px;
}
.sidebar .section-item-details {
  padding-right: 26px;
  /*margin-top: 10px;*/
  /*margin-bottom: 30px;*/
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  /*border-bottom: 1px solid #4783c2;*/
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4 {
  margin: 0px;
}
.sidebar .work h4 {
  margin-bottom: 0px;
}
.sidebar .address-details h4 {
  margin-top: 0px;
}
.sidebar .address-details h4 span {
  font-size: 10pt;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  background-color: #4783c2;
  height: 4px;
  //overflow: visible;
}
.sidebar .skill-line .determinate {
  background-color: #ffffff;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar .skill-line span {
  opacity: initial;
}
.sidebar .center-text {
  text-align: center;
}
.sidebar .left-text {
  text-align: left;
}
.sidebar .right-text {
  text-align: right;
}
.sidebar .user-info {
  width: 100%;
  color: white;
  background-color: #5da4d9;
}
.sidebar .pdt-sm {
  padding-top: 10px;
}
.sidebar .pdt-bg {
  padding-top: 20px;
}
.sidebar .pdb-sm {
  padding-bottom: 10px;
}
.sidebar .pdb-bg {
  padding-bottom: 20px;
}
.sidebar .pdr-sm {
  padding-right: 10px;
}
.sidebar .pdr-bg {
  padding-right: 20px;
}
.sidebar .pdl-sm {
  padding-left: 10px;
}
.sidebar .pdl-bg {
  padding-left: 20px;
}

/* Material shadow */

.light-shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.light-shadow2 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.light-shadow3 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.light-shadow4 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.light-shadow5 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.light-shadow6 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

/* Sections */

#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.section .section-wrapper:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}

/* Work Experience */

.user-content {
  padding-right: 0px !important;
}
.user-content-wrapper {
  padding-right: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eae8e7;
}
.user-content-wrapper:last-child {
  border-bottom: initial;
}
.user-content-wrapper h3 {
  margin: 0px;
  font-size: 16pt;
  line-height: 24pt;
}
.user-content-wrapper h3 span {
  color: #9A9A9C;
  font-size: 16pt !important;
}
.user-content-wrapper span {
  color: #0099D5;
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.user-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 25px;
}

/* Interests */

.interests ul {
  padding-left: 0px;
}
.interests ul li {
  list-style-type: none;
  display: inline-block;
  width: 19%;
}
.interests ul li .fa {
  color: #5da4d9;
  text-align: left;
}

/* Cover latter */

.cover-latter {
  padding: 30px;
  margin-right: 5px;
  margin-bottom: 24px;
  background-color: white;
}
.cover-latter strong {
  font-weight: 400;
}
.cover-latter p:last-child {
  margin: 30px 0px;
}
.cover-latter p h2 {
  margin-bottom: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.cover-latter .cover-title span {
  font-size: 12pt;
  line-height: 20pt;
  font-weight: 500;
}
.cover-latter .cover-title h2 {
  font-size: 12pt;
  line-height: 20pt;
  margin-top: 20px;
}
.cover-latter .cover-title h4 {
  font-weight: 500;
}
.cover-latter .cover-title p {
  margin-top: 0px;
}
.cover-latter .signature h4 {
  margin: 0px;
}

/* Contact */

.section .g-map {
  padding-bottom: 0px !important;
}
.section .g-map #map {
  width: 100%;
  height: 350px;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5da4d9;
}
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #5da4d9;
}
.waves-me:focus {
  background-color: #5da4d9;
  color: #fff;
}
.btn {
  margin-left: 10px;
  background-color: #5da4d9;
}
.btn:hover, .btn:focus {
  background-color: #5da4d9;
}
.email-success, .email-failed {
  display: none;
  text-align: left !important;
  margin: 0 0 0 0 !important;
}
#msgSubmit {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.text-danger {
  color: red;
}
.text-success {
  color: #5da4d9;
}
.btn.disabled {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
.btn.disabled:focus {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
.btn.disabled:hover {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
